.path-article{
    display: flex;
    margin-bottom: 20px;
}
.path-element{
    font-family: 'IBP Plex Sans', Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #101010;
    margin-right: 25px;
}
.path-element:last-child{
    font-weight: 700;
}
.path-element::after{
    content: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.126 9.82152L5.76188 5.55564C5.83657 5.48688 5.89652 5.40159 5.93762 5.30561C5.97872 5.20963 6 5.10524 6 4.9996C6 4.89396 5.97872 4.78957 5.93762 4.69359C5.89652 4.59761 5.83657 4.51231 5.76188 4.44355L1.126 0.177679C0.683502 -0.229438 -1.80829e-07 0.108096 -1.80829e-07 0.733725L-1.80829e-07 9.26669C-1.80829e-07 9.89232 0.683502 10.2299 1.126 9.82152V9.82152Z' fill='%23101010'/%3E%3C/svg%3E");
    margin-left: 25px;
}
.path-element:last-child::after{
    content: ""
}
.background-article img{
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}
.tags-icons-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.icons-public > img{
    margin-right: 10px;
}
.Lean-tag{
    background-color: #09E1D3;
    border-radius: 15px;
    width: 110px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #FCFCFC;
}
.Lean-tag p{
    margin: 0;
    padding-top: 8px;
}
.article-header{
    max-width: 892px;
}
.article-header h2{
    margin: 0;
    font-family: 'IBM Plex Serif', Roboto;
    font-weight: 700;
    line-height: 36px;
    font-size: 28px;
}
.article-info{
    display: flex;
    align-items: center;
    font-weight: 300;
    color: rgba(16, 16, 16, 0.5);
    margin-top: 30px;
    padding-bottom: 30px;
}
.info-archive:last-child::before{
    content: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1C3.6875 1 1 3.65718 1 6.93231C1 10.2074 3.6875 12.8646 7 12.8646C10.3125 12.8646 13 10.2074 13 6.93231C13 3.65718 10.3125 1 7 1Z' stroke='%23101010' stroke-opacity='0.5' stroke-miterlimit='10'/%3E%3Cpath d='M7 2.97754V7.42688H10' stroke='%23101010' stroke-opacity='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    margin-right: 8px;
}
.header-article::after{
    content: "";
    display: block;
    max-width: 892px;
    height: 6px;
    background-color: #1E95FC;
}
.article-wrapper{
    display: flex;
    justify-content: space-between;
}
.article-text{
    padding-left: 30px;
    max-width: 892px;
}
.main-text{
    max-width: 733px;
}
/* .article-text-header{
    font-family: 'IBP Plex Serif', Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.article-text-text{
    font-family: 'IBP Plex Serif', Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
} */
.more-articles-filter{
    padding: 92px 38px 0px 31px;
    background-color: #fdfdfd;
    color: #101010;
    max-width: 198px;
}
.headings{
    height: 100%;
}
.more-articles-filter > p{
    margin: 0;
    font-family: 'IBM Plex Serif', Roboto;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 38px;
}
.heading-one{
    margin-bottom: 60px;
}
.heading-info{
    display: flex;
    margin-top: 12px;   
}
.heading-header{
    margin: 0;
    font-family: 'IBM Plex Serif', Roboto;
    font-weight: 700;
    font-size: 14px;
}
.heading-item{
    font-family: 'IBM Plex Sans', Roboto;
    color: rgba(16, 16, 16, 0.5);
    font-size: 14px;
    font-weight: 300;
    margin-right: 4px;
}
/* стили для статьи */
.main-text h3{
    font-family: 'IBP Plex Serif', Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.main-text p{
    font-family: 'IBP Plex Serif', Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
}