body{
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'IBM Plex Sans', Roboto, sans-serif; */
    padding-top: 20px;
}

/* Хедер */
.wrapper{
    max-width: 1160px;
    margin: 0 auto;
}
.header-info{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 55px;
}
.header-info-logo{
    flex: 0 0 58%;
}
.header-info-logo{
    display: flex;
    align-items:center;
}
.logo-text{
    color: 101010;
    margin-left: 16px;
}
.header-info input{
    max-width: 210px;
    height: 50px;
    background-color: #FDFDFD;
    border-radius: 30px;
    padding-left: 30px;
    outline: none;
    border: 0;
    color: #101010;
}
.header-info button{
    max-width: 210px;
    height: 50px;
    font-style: 400;
    text-align: center;
    color: #FCFCFC;
    background-color: #1E95FC;
    border: 0;
    border-radius: 30px;
    margin-left: 65px;
    padding: 15px 37px;
}
.nav-wrap{
    max-width: 768px;
    margin: 0 auto;
}
.nav-wrap > ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.nav-item, .news-tag-item{
    list-style-type: none;
}
.nav-item a{
    color:#101010;
    text-decoration: none;
}
header{
    margin-bottom: 100px;
}

/* футер */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}
.logo-address {
    flex: 0 0 51.3%;
}
.logo-png{
    display: flex;
}
.logo-png img{
    margin-right: 16px;
    margin-bottom: 125px;
}
.address-name{
    font-style: normal;
}
.under-nav{
    flex: 0 0 25.6%;
}
.under-nav ul {
    padding: 0;
    height: 184px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
.under-nav ul li:first-child {
    margin-top: 10px;
}
.ul-contacts{
    margin-top: 20px;
    padding: 0;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* main block */
.main-block{
    background-image: url(../img/mainbackground.svg);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 131px;
    padding-left: 99px;
    padding-bottom: 77px;
    padding-right: 389px;
    margin-bottom: 100px;
}
.main-block-header span{
    font-family: 'Open sans';
    font-weight: 400;
    color: #FCFCFC;
}
.main-block-header h1 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 180px;
    font-family: 'Open sans';
    font-weight: 800;
    font-size: 58px;
    letter-spacing: -2px;
    color: #FCFCFC;
}
.many-facts{
    background-color: #FCFCFC;
    border-radius: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    font-size: 14px;
    font-weight: 300;
}
.actual-block{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 120px;
    position: relative;
}
.actual-block-main{
    width: 100%;
    height: 530px;
    padding-bottom: 80px;
    padding-right: 25.7%;
    padding-left: 8.5%;
    background-image: url(../img/photoactualblock.png);
    background-repeat: no-repeat;
    position: relative;
}
.actual-block-info{
    position: absolute;
    bottom: 165px;
    width: 763px;
}
.h2-actual{
    margin: 0;
    font-weight: 700;
    margin-bottom: 40px;
}
.horizon-line{
    border-bottom: 6px solid #F7F7F7;
    margin-bottom: 40px;
    position: relative;
}
.horizon-line-blue{
    position: absolute;
    width: 239px;
    border-bottom: 6px solid #1E95FC;
}
.btn-left{
    position: absolute;
    left: -30px;
}
.btn-left button {
    background: none;
    border: none;
}
.btn-left button:active{
    background:red;
}
.btn-right{
    position: absolute;
    right: -30px;
}
.btn-right button {
    background: none;
    border: none;
}
.btn-right button:active{
    background:red;
}
.actual-block-info ul{
    display: flex;
    padding: 0;
}
.news-tag-item{
    margin-right: 8px;
}
.new-tag{
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 15px;
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #FCFCFC;
}
.new-tag p{
    padding-top: 8px;
    margin: 0;
}
.ecology-tag {
    background-color: rgba(0, 255, 194, 0.5);
    border-radius: 15px;
    width: 110px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #FCFCFC;
}
.ecology-tag p{
    padding-top: 8px;
    margin: 0;
}
.header-news{
    font-size: 28px;
    font-weight: 700;
    color: #FCFCFC;
    margin: 0;
}