body{
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'IBM Plex Sans', Roboto, sans-serif; */
    padding-top: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
.tags-list{
    display: flex;
    list-style: none;
    padding: 0;
}
.tags-list li{
    margin-right: 4px;
}
/* Анимации */
.header-info-logo > a:hover{
    background:#82e8ff;
}
.nav-item a:hover{
    background:#82e8ff;
}

/* Хедер */
.wrapper{
    max-width: 1160px;
    margin: 0 auto;
}
.header-info{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 55px;
}
.header-info > .header-info-logo{
    flex: 0 0 58%;
}
.header-info-logo{
    display: flex;
    align-items:center;
}
.logo-text{
    color: #101010;
    display: flex;
    align-items:center;
}
.logo-text > img{
    margin-right: 16px;
}
.header-info input{
    max-width: 210px;
    height: 50px;
    background-color: #FDFDFD;
    border-radius: 30px;
    padding-left: 30px;
    outline: none;
    border: 0;
    color: #101010;
}
.btn-div{
    /* max-width: 170px; */
    height: 20px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    color: #FCFCFC;
    background-color: #1E95FC;
    border: 0;
    border-radius: 30px;
    /* margin-left: 65px; */
    padding: 15px 22px;
}
.nav-wrap{
    /* max-width: 768px; */
    margin: 0 auto;
    display: flex;
}
.nav-wrap > ul {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-item, .news-tag-item{
    list-style-type: none;
    margin-right: 50px;
}
.nav-item a{
    color:#101010;
    text-decoration: none;
}
header{
    margin-bottom: 100px;
}

/* футер */
footer .wrapper{
    margin-top: 100px;
}
.footer-wrapper {

    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}
.logo-address {
    flex: 0 0 51.3%;
}
.logo-png{
    display: flex;
}
.logo-png img{
    margin-right: 16px;
    margin-bottom: 125px;
}
.address-name{
    font-style: normal;
}
.under-nav{
    flex: 0 0 25.6%;
}
.under-nav ul {
    padding: 0;
    height: 184px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
.under-nav ul li:first-child {
    margin-top: 10px;
}
.ul-contacts{
    margin-top: 20px;
    padding: 0;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* main block */
.main-block{
    background-image: url(../img/mainbackground.svg);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 131px;
    padding-left: 99px;
    padding-bottom: 77px;
    padding-right: 389px;
    margin-bottom: 100px;
}
.main-block-header span{
    font-family: 'Open sans';
    font-weight: 400;
    color: #FCFCFC;
}
.main-block-header h1 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 180px;
    font-family: 'Open sans';
    font-weight: 800;
    font-size: 58px;
    letter-spacing: -2px;
    color: #FCFCFC;
}
.many-facts{
    background-color: #FCFCFC;
    border-radius: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    font-size: 14px;
    font-weight: 300;
}
.actual-block{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 120px;
    position: relative;
}
.actual-block-main{
    width: 100%;
    height: 530px;
    padding-bottom: 80px;
    padding-right: 25.7%;
    padding-left: 8.5%;
    background-image: url(../img/photoactualblock.png);
    background-repeat: no-repeat;
    position: relative;
}
.actual-block-info{
    position: absolute;
    bottom: 165px;
    width: 763px;
}
.h2-title{
    margin: 0;
    font-weight: 700;
    margin-bottom: 40px;
}
.horizon-line{
    border-bottom: 6px solid #F7F7F7;
    margin-bottom: 40px;
    position: relative;
}
.horizon-line-blue-actual{
    position: absolute;
    width: 239px;
    border-bottom: 6px solid #1E95FC;
}
.btn-left{
    position: absolute;
    height: 15%;
    left: 50px;
    z-index: 1;
}
.btn-left button {
    background: none;
    border: none;
}
.btn-left button:active{
    background:red;
}
.btn-right{
    position: absolute;
    height: 15%;
    right: 50px;
    z-index: 1;
}
.btn-right button {
    background: none;
    border: none;
}
.btn-right button:active{
    background:red;
}
.actual-block-info ul{
    display: flex;
    padding: 0;
}
.news-tag-item{
    margin-right: 8px;
}
.new-tag{
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 15px;
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #FCFCFC;
}
.new-tag p{
    padding-top: 8px;
    margin: 0;
}
.ecology-tag {
    background-color: rgba(0, 255, 194, 0.5);
    border-radius: 15px;
    width: 110px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #FCFCFC;
}
.ecology-tag p{
    padding-top: 8px;
    margin: 0;
}
.header-news{
    font-size: 28px;
    font-weight: 700;
    color: #FCFCFC;
    margin: 0;
}

/* архив */
.horizon-line-blue-archive{
    position: absolute;
    width: 120px;
    border-bottom: 6px solid #1E95FC;
}
.archive-block-wrapper{
    display: flex;
    justify-content: space-between;
    height: 530px;
    margin-bottom: 70px;
}
.archive{
    margin-bottom: 220px;
}
.archive-block{
    max-width: 366px;
}
.info-archive-block{
    display: flex;
    font-weight: 300;
    color: rgba(16, 16, 16, 0.5);
    margin-top: 30px;
    margin-left: 15px;
}
.info-archive{
    margin: 0;
    margin-right: 10px;
}
.archive-title{
    font-weight: 700;
    line-height: 28px;
    font-size: 22px;
    color: #101010;
    margin-left: 15px;
    margin-bottom: 20px;
}
.about-archive{
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    font-style: 14px;
    line-height: 24px;
    margin-left: 15px;
}
.btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-block{
    border: 1px solid rgba(16, 16, 16, 0.7);
    border-radius: 30px;
    padding: 15px 42px;
}
.btn-go-archive{
    margin: 0 auto;
    display: block;
    color: rgba(16, 16, 16, 0.7);
    text-decoration: none;
}
.about-author{
    width: 100%;
    height: 440px;
    border: 1px solid black;
    margin-bottom: 30px;
}
/* ----------------------------------------- */

/* блок с подпиской на рассылку */
.subscribe-email{
    background: linear-gradient(to left,rgba(0, 255, 194, 1), rgba(30, 149, 252, 1));
    position: relative;
    overflow:hidden;
    padding-top: 500px;
}
.subs-svg{
    position: absolute;
    top:28%;
    left:50%;
    transform:translate(-50%,-50%);
    object-fit:cover;
}
/* Подписаться на рассылку */
.subscribe-info {
    text-align: center;
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 205px;
}
.subscribe-title {
    margin-top: 0;
    font-family: 'Open sans';
    color: #FCFCFC;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
.subscribe-info p {
    font-weight: 400;
    color: #FCFCFC;
    margin-bottom: 60px;
}
.email-input {
    width: 480px;
    font-weight: 300;
    color: rgba(16, 16, 16, 0.5);
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-right: 12px;
    padding-left: 30px;
}
.subscribe-info button {
    width: 200px;
    height: 50px;
    color: #FCFCFC;
    font-weight: 400;
    border: none;
    border-radius: 30px;
    background-color: #1E95FC;
}