/* .body {
    width: 60.5%;
} */

.header__section input[type=text] {
    background-color: #F8F8F8;
    color: #101010;
    width: 169px;
    height: 50px;
    padding-left: 20px;
    margin-right: 30px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 300;
}

.header__section button {
    width: 200px;
    height: 50px;
    background: #147FC3;
    border-radius: 30px;
    border: none;
    color: rgba(242, 242, 242, 1);
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgba(194, 225, 243, 1); */
}

.header__section {
    display: flex;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
}

.header__item {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 5px;
}

.header__item:hover {
    background-color: #ff9900;
    border-radius: 4px;
}

.headerlogo {
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
}
.headerlogo:link {
    color: black;
}
.headerlogo:visited{
    color: black;
}

.headerlogopng img{
    width: 50px;
    height: 50px;
}

nav{
    display: flex;
    justify-content: center;
}

ul {
    width: 760px;
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    margin-left: 31px;
    margin-right: 31px;
}

li:first-child{
    margin-left: 0;
    padding-left: 0px;
}

li a {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
}

li a:link {
    color: black;
}
li a:visited {
    color: black;
}
li a:hover {
    border: 1px solid silver transparent;
    border-radius: 10px;
    background: #8bd3ff;
}